<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<style>
    body{
        display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            background-color: #e0f7fa
    }
    .header{
        .header {
            text-align: center;
            background-color: navy;
            color: white;
            padding: 10px 0;
            margin-bottom: 20px;
            border-radius: 8px;
        }
    }
</style>
<body>
    <h2 class="header">Welcome {{name}}!!</h2>
</body>
</html>